<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.markfromberg.ShowSiblings</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Show Siblings</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.4</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/mark2mark/Show-Siblings/master/ShowSiblings.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/mark2mark/Show-Siblings</string>
	<key>productReleaseNotes</key>
	<string>Customizable Siblings Data and UI</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Mark Frömberg (@mark2mark), 2015–2016</string>
	<key>NSPrincipalClass</key>
	<string>ShowSiblings</string>
</dict>
</plist>
